.main {
    text-align: center;
    padding: 25px 50px 25px 50px;
}

/* Field params */
.field {
    height: 500px;
    border: 2px solid black;
    position: relative;
    overflow-y: hidden;
}

/* Dot positioning */
.dot {
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
}

.control__speed p, .score p {
    margin: 5px;
}
